# 3RD Party
#-------------------------
vendor/
node_modules/
npm-debug.log
composer.phar
composer.lock

# TEMP Files
#-------------------------
.DS_Store
.vscode

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Laravel 4 specific
#-------------------------
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
#-------------------------
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
